*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#NavA{
 display: flex;
 margin: auto;
 /* justify-content:space-evenly; */
 width: 90%;
 height: 50px;
 align-items: center;
 border-bottom: 0.5px solid gray;
 
}
#NavA{
    width: 80%;
    margin: auto;
}
#NavA{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    
}

#two :hover {
  color: teal;
 
}
#App{
   background-color: #E3F2FD;
   border-radius: 5%;
   border: 5px solid #E3F2FD;
   margin-right: 5%;
   margin-left: 20%;
   font-size: x-small;
   width: 100px;
  
}
#App:hover{
   background-color: lightgray;
   
   
}
#NavA a{
   color: black;
}
#one{
   justify-content: space-evenly;
   /* border: 1px solid red; */

}
#one img{
   margin-left: 9%;
}
#two{
   margin-right: 3%;
   width: 25%;
   justify-content: space-around;
}
#two a{
  margin-right: 5%;
}
#Navdiv1 a{
   margin-left: 0%;
}
#NavB{
   display: flex;
   margin: auto;
   justify-content:space-evenly;
   width: 100%;
   align-items: center;
   height: 20px;
   border-bottom: 0.2px solid gray;

}
#NavB{
   position: fixed;
   top: 50px;
   width: 100%;
   margin-left: 0%;
   background-color: white;
   
}
#NavB a{
   color: black;
   font-size: small;
}
#NavB>a:hover{
  color: teal;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  
  position: relative;
  margin: auto;
}
.mySlides {
    display: none;

  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 150px;
    width: auto;
    margin-top: -22px;
    padding: 20%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    margin-right: -8%;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    margin-left: -8%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    width: 1%;
  }
  .slideshow-container img{
    width: 100%;
    height: 300px;
    margin-top: 70px;
  }
  #mid2{
    display: grid;
    gap: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
 #A{
 grid-column-start: 1;
 grid-column-end: 2;
  height: 100%;
  margin-top: 1%;
 
 }
 #B{
  grid-column-start: 2;
 grid-column-end: 3;
  height: 50%;
  margin-top: 1%;
  margin-bottom: 1px;
 }
 /* #C{
  grid-column-start: 2;
  grid-column-end: 3;
  height: 50%;
  margin-top: 1%;
 } */
 /* #C img{
    margin-top: -5%;
 } */
#MID {
  margin-bottom: 10px;
}
 
 #mid3{
  display: flex;
  margin: auto;
  gap: 1%;
 }
#mid3 img{
  width: 33%;
  margin-top: 10px;
}
#Mid h1{
  margin-bottom: 10px;
}
#mid4{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
#mid4 img{
  margin-top: 2%;
}
#end{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-bottom: 50px;
}
    /* footerpart */
  .container{
    max-width: 80%;
    margin: auto;
    
}
.row{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 10px;
}
.footer{
    background-color:#E3F2FD;
    max-width: 90%;
    margin: auto;
    padding: 30px 0;
}
ul{
    list-style: none;
    
}
.footer-column{
    width: 50%;
    padding: 0 15px;
    
}
.footer-column a{
    color: gray;
    
}
.footer-column h4{
   font-size: 15px;
   color: black;
   text-transform: capitalize;
   margin-bottom: 10px;
   margin-top: 30px;

}
#Footlast {
    display: flex;
    margin: auto;
   
}
#Footlast img{
    width: 6%;
    margin: auto;
}
#Phara p{
    padding: 1%;
    width: 80%;
    margin: auto;
    color: gray;

}
#Phara b{
    color: black;
}
*body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#Mid7 {
 width: 20%;
}
