body{
    background-color:teal;
    font-family: 'Roboto',sans-serif;
}
.signup{
  width: 360px;
  height: 750px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}
h1{
    text-align: center;
    padding: 15px;
    color: teal;
}
.signup img{
    margin-left: 10%;
    margin-top: 5%;
   
}
.login img{
    margin-left: 10%;
    margin-top: 5%;
}
h4{
    text-align: center;

}
form{
    width: 300px;
    margin-left:20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: nonw;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 18px;
    
}
input[type="button"]:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: wheat;
    margin-top: -10px;
}
.para-2{
    color: red;
}
.login{
    width: 360px;
    height: 480px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}
.para-2 a{
    color: blue;
}
